@import '../../styles.css/constants.scss'; 
@import '../../styles.css/mixins.scss'; 

*{
  font-family: Merriweather, sans-serif;
}
.orderConteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $bgColor;
  border-radius: 25px;
  width: 520px;
  height: 550px;
  margin: 100px auto ;
  padding-top: 20px;

  .header {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: $secondTextColor;
    font-style: italic;
  }

  input {
    @include formInput(90%);
  }

  select {
    @include formInput(92%);
  }

  option {
        background-color: rgba(214, 219, 221, 0.6);
  }

  p {
      color:$secondTextColor;
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 5px; 
  }

  .subBtn {
    @include btn(80%, $baseBlue, 10px auto, 10px, 25px, 2px solid $baseBlue, 5px,$secondTextColor);
  }

  .error {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px; 
    color: rgb(246, 79, 79);
  }

  .success {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    color:rgb(4, 73, 4);
  }

}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;

  margin: 0;
}

input[type=range] {
  -webkit-appearance: none;
          appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none; 
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: $baseBlue;
  border-radius: 2px;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 18px;
  width: 18px;
  border: 1px solid $baseBlue;
  border-radius: 50%;
  background: $thumbColor;
  margin-top: -5px;
}

/* Firefox */

input[type=range] {
  background: transparent; 
}

input[type=number] {
  -moz-appearance: textfield;
       appearance: textfield;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: $baseBlue;
  border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid $baseBlue;
  background: $thumbColor;
  cursor: pointer;
}


@media (max-width: $breakpointWidthOne) {
  .orderConteiner {
  width: 450px;
  height: 470px;

    .header {
      font-size: 25px;
    }

    input {
      @include formInput(90%);
      font-size: 20px;
    }
  
    select {
      @include formInput(92%);
      font-size: 20px;
    }

    .subBtn {
      @include btn(80%, $baseBlue, 5px auto, 8px, 20px, 2px solid $baseBlue, 5px,$secondTextColor);
    }

    .error, .success {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 0px; 
    }
  }
}

@media (max-width: $breakpointWidthTwo) {
  .orderConteiner {
  width: 350px;
  height: 370px;
  padding-top: 5px;

  .header {
    font-size: 20px;
  }

  input {
    @include smallFormInput(90%);
  }

  select {
    @include smallFormInput(92%);
  }
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px; 
  }
  .subBtn {
    @include btn(80%, $baseBlue, 5px auto, 8px, 18px, 2px solid $baseBlue, 5px,$secondTextColor);
  }
  .error, .success {
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
  }
 }
}

@media (max-width: $breakpointWidthThree) {
  .orderConteiner {
  width: 300px;
  height: 370px;
  padding-top: 5px;

  .header {
    font-size: 20px;
  }

  input {
    @include smallFormInput(90%);
  }

  select {
    @include smallFormInput(92%);
  }
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px; 
  }
  .subBtn {
    @include btn(80%, $baseBlue, 5px auto, 8px, 18px, 2px solid $baseBlue, 5px,$secondTextColor);
  }
  .error, .success {
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
  }
 }
}

@media (max-height: $breakpointHeigthOne) {
  .orderConteiner {
    width: 480px;
    height: 480px;
    margin: 20px auto ;
    padding-top: 10px;

    .header {
      font-size: 25px;
    }

    input {
      @include formInput(90%);
      font-size: 20px;
    }
  
    select {
      @include formInput(92%);
      font-size: 20px;
    }

    .subBtn {
      @include btn(80%, $baseBlue, 5px auto, 8px, 20px, 2px solid $baseBlue, 5px,$secondTextColor);
    }

    .error, .success {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 0px; 
    }
  }
}

@media (max-height: $breakpointHeigthTwo) {
  .orderConteiner {
    width: 480px;
    height: 300px;
    margin: 15px auto;
    padding-top: 5px;

    .header {
      font-size: 18px;
    }
  
    input {
      @include smallFormInput(90%);
      font-size: 15px;
    }
  
    select {
      @include smallFormInput(92%);
      font-size: 15px;
    }
    p {
      font-size: 14px;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 0px; 
    }
    .subBtn {
      @include btn(80%, $baseBlue, 3px auto, 5px, 15px, 2px solid $baseBlue, 5px,$secondTextColor);
    }
    .error, .success {
      font-size: 13px;
      text-align: center;
      margin-bottom: 3px;
      margin-top: 3px;
    }
  }
}